<!DOCTYPE html>
<html>
  <head>
    <title>Buy your friend a Coke</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="http://us.coca-cola.com/content/dam/coca-cola/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">

      <nav class="navbar navbar-default red" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><%= image_tag "logo.png" %></a>
        </div>
      </nav>


      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>

      <footer>
        <nav class="navbar navbar-default red" role="navigation">
        <div class="navbar-header">

        </div>
      </nav>
      </footer>
    </div>
  </body>
</html>
